.my-container {
    width:800px;
    text-align: center;
    background-color: yellow;
    float:left;
}

.my-tabs {
    list-style: none;
    width: 760px;
    float:left;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
}

.my-tab-item {
    float: left;
    border: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: -1px;
    box-sizing: border-box;
}

.active {
    border: 1px solid #aaa;
    border-bottom: 1px solid transparent;
    cursor: default;
}

li.my-tab-item a {
    cursor:pointer;
    text-decoration: none;
    color: #0000ff;
    position: relative;
}

li.active a {
    cursor: default;
    color: #555555;
}

li.my-tab-item a:hover {
    color: #7700ff;
}    

li.active a:hover {
    color: #555555;
}    

.my-tab-item:hover {
    background-color: #bbbbbb;
}

.active:hover {
    background-color: transparent;
}


