.menu {
    width:200px;
    height:100%;
    border: 1px blue solid;
    float:left;
}

.main-content {
    min-width:400px;
    max-width:800px;
    height:100%;
    border: 1px green solid;
    float:left;
}

.side-bar {
    width:200px;
    height:100%;
    border: 1px green solid;
    float:left;
}

.hotel  {
    width:173px;
    height:auto;
    border: 1px red solid;
    background: #dddddd;
    padding: 20 10;
    margin-top: 5px;
    margin-left: 5px;
    float:left;
}




