
    .sum_form {
        display: block;
        border: 1px solid blue;
        width: 300px;
        padding: 10px;

    }
    
    .field_row {
        margin-top: 10px;
    }

    .field_row .label {
        float: left;
        width: 80px;
    }