
table {
    border: 1px solid blue;
    border-collapse: collapse;    
}  

table th{
    background: lightgray;
    border: 1px solid blue;
    padding: 5px;
}  

table td{
    border: 1px solid blue;
    padding: 5px;
}  