<div>
    <div class="panel panel-hotel" data-hotel-id="{hotel-id}" data-hotel-key="">
        <div class="panel-heading">
            <a href="#" data="hotel-name"></a>
        </div>    
        <div class="panel-body">
            <div class="row">
                <div class="hotel-pic">
                    <img data="hotel-pic" src="">
                </div>    
                <div class="hotel-info">
                    City: <span data="city"></span><br>
                    Address: <span data="address"></span><br>
                    Tel: <span data="tel"></span><br>
                    Email: <span data="email"></span><br>
                </div>    
            </div>
        </div>    
    </div>    
</div>
