              <div class="col-sm-12">  
                <div class="panel panel-hotels">
                    <div class="panel-heading">
                        Edit Hotel
                    </div>    
                    <div class="panel-body">
                        <div class="row">    
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input class="form-control" type="text" name="name" value="" id="name">
                                </div>    
                            </div>
                        </div>    
                        <div class="row">    
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city">City:</label>
                                    <input class="form-control" type="text" name="city" value="" id="city">
                                </div>    
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city">Address:</label>
                                    <input class="form-control" type="text" name="address" value="" id="address">
                                </div>    
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city">Telephone:</label>
                                    <input class="form-control" type="text" name="tel" value="" id="tel">
                                </div>    
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="city">Email:</label>
                                    <input class="form-control" type="text" name="email" value="" id="email">
                                </div>    
                            </div>
                        </div>    
                        <div class="row">    
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="city">Description:</label>
                                    <textarea class="form-control" name="description" id="description" rows="5">
                                    </textarea>    
                                </div>    
                            </div>
                        </div>
                        <div class="row">    
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="name">Picture:</label>
                                    <input class="form-control" type="text" name="pic" value="" id="pic">
                                </div>    
                            </div>
                        </div>    
                        <div class="row">    
                             <div class="col-sm-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="saveHotel()" >Save</button>
                                 </div>    
                             </div>   
                             <div class="col-sm-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="showHotelDetails()" >Cancel</button>
                                 </div>    
                             </div>   
                        </div>  
                    </div>  
                </div>    
             </div>   