              <div class="col-sm-5">  
                <div class="panel panel-hotels">
                    <div class="panel-heading">
                        Login
                    </div>    
                    <div class="panel-body">
                        <div class="row">    
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input class="form-control" type="text" name="username" value="" id="username">
                                </div>    
                            </div>
                        </div>    
                        <div class="row">    
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input class="form-control" type="text" name="password" value="" id="password">
                                </div>    
                            </div>
                        </div>
                        <div class="row">    
                             <div class="col-sm-12">
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" onclick="login()" >Login</button>
                                 </div>    
                             </div>   
                        </div>  
                    </div>  
                </div>    
             </div>   