<html>
<head>

</head>    
<body>
{% if method == 'GET' %}
    <form method="POST">
        Field 1<br/>
        <input type="text" name="field[]"><br/>
        <br/>
        Field 2<br/>
        <input type="text" name="field[]"><br/>
        <br/>
        Field 3<br/>
        <input type="text" name="field[]"><br/>
        <br/>
        Field 4<br/>
        <input type="text" name="field[]"><br/>
        <br/>
        Name<br/>
        <input type="text" name="name"><br/>
        <br/>
        <input type="submit" value="Sum">
        
    </form>
{% else %}
<table>
        <tr>
            <th>Number</th>
            <th>Value</th>
        <tr>
        {% for field in fields %}            
        <tr>
            <td>{{ field['number'] }}</td>
            <td>{{ field['value'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    Sum = {{ sum }}<br>

    Name = {{ name }}<br>

{% endif %}    
</body>
</html>    
    